*.iml
.gradle
/local.properties
.DS_Store
build/
**/build/
.kotlin/
captures/
.externalNativeBuild/
.cxx/

# IntelliJ IDEA
.idea/usage.statistics.xml
.idea/librarySources.xml
.idea/shelf/
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/caches/
.idea/libraries/
.idea/modules.xml

# macOS
.DS_Store

# SQLite databases
*.db
